@media screen and (min-width: 1200px) {
    .container {
            width: 1158px;
            padding-left: 15px;
            padding-right: 15px;
    }

    .header {
        padding-top: 24px;
        padding-bottom: 24px;   
    }

    .header-nav-list {
        margin-left: 77px;
        margin-right: auto;
}
    .header-list {
        display: flex;
       
}

.header-link.current::after {
    bottom: -28px;
}

.header-link-contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


    /* -----------TOP SECTION---------- */

    .top {
        max-width: 1158px;
        height: 600px;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
        url(../img/Bg/Main-bg.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .top{
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
          url(../img/Bg/bg-desktop-2x.jpg);
    }
  }

    .top-title {
        margin-bottom: 48px;
        
    }
    /* -----------SECOND SECTION---------- */

    .second {
        padding-top: 120px;
        padding-bottom: 120px;
}

.second-list {
        flex-wrap: nowrap;
        gap: 24px;
}

.second-items {
    width: calc((100% - 3 * 24px) / 4);       
}
    /* -------------TEAM------------ */
    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team >.container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .team-list {
        gap: 24px;
    }
        
    .team-items {
        width: calc((100% - 3 * 24px) / 4);
    }
        /* -------------CUSTOMERS------------ */
    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .customers >.container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
        .customers-list {
            flex-wrap: nowrap;
            gap: 24px;
    }
        
        .costomers-items  {
            width: calc((100% - 24 * 5) / 6);    
        }
        /*--------FOOTER-------*/
        .footer {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        .footer-container {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            width: 1158px;
            margin-left: auto;
            margin-right: auto;
          }

        .footer-wrap {
            margin-left: 0;
        }

        .footer-information {
            width: 264px;
            margin-right: 120px;
            margin-bottom: 0;
        }
       
        .footer-sub {
            margin-left: 80px;
        }

        .footer-sub-wrap {
            flex-direction: row;
        }


       
        

}