@media screen and (min-width: 768px) {
    .container {
            width: 768px;
            
    }

    

    .header {
        padding-bottom: 10px;   
    }

    .header-nav-list {
        display: flex;
        gap: 40px;
        margin-left: 120px;
        margin-right: 110px;
}

.header-list {
    display: block;
}

.header-contacts {
    display: flex;
    gap: 4px;

}

.mobile-menu-btn {
    display: none;
}

.mob-menu-container {
    display: none;
}


/* -----------TOP SECTION---------- */
    .top {
        max-width: 768px;
        height: 436px;
        padding-top: 112px;
        padding-bottom: 108px;
        background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
        url(../img/Bg/bg-tablet-1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .top{
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../img/Bg/bg-tablet-2x.jpg);
  }
}

    .top-title {
        max-width: 494px;
        margin-bottom: 40px;
        font-size: 56px;
        line-height: 1.07;
        text-transform: none;
    }
    /* -----------SECOND SECTION---------- */
    .second-list {
        row-gap: 72px;
    }
    .second-items {
        width: calc((100% - 24px) / 2);       
}

.second-title {
    text-align: left;
}
/* -------------TEAM------------ */
    .team {
        padding-top: ;
        padding-bottom: 104px;
    }

    .team >.container {
        width: 582px;
    }
.team-list {
row-gap: 64px;
column-gap: 24px;
}

.team-items {
    width: calc((100% - 24px) / 2);
}

/*--------CUSTOMERS-------*/
.customers-list {
    column-gap: 24px;   
}

.costomers-items  {
    width: calc((100% - 48 px ) / 3);
    max-width: 168px;
    height: 88px;
}

/*--------FOOTER-------*/
.footer-container {
    width: 584px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    
}

.footer-wrap {
    display: flex;
    align-items: baseline;
}

.footer-information {
    margin-right: 24px;
    margin-bottom: 0;
    align-items: flex-start;
    max-width: 264px;
}


.footer-soc {
    align-items: flex-start;
}

.footer-sub {
    align-items: flex-start;    
}

.footer-sub-title {
    text-align: start;
}

.footer-sub-wrap {
    gap: 24px;
}
.footer-sub-input {
    width: 264px;
}

.modal {
    width: 408px;
    height: 584px;
}


}